.btn-success{
  margin: 10px;
  background-color:steelblue;
}
.jumbotron{
  color: white;
  background-image: url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif");
}

body{
  background: lavender;
}
